/*
Store page styles
*/

body * {
    font-family: "Roboto", sans-serif;
}

body {
    padding: 0 0 0 0;
}

body,
html {
    margin: 0;
    height: 100%;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    position: sticky;
}

.nav-bar .nav-home {
    float: left;
}

.nav-bar li {
    float: right;
}

.nav-bar li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: white;
}

.nav-bar li a:visited {
    color: white;
}

.nav-bar [aria-current="page"] {
    background-color: rgb(72, 245, 129);
}

#logoutBtn:hover::after {
    content: " - Log Out";
}

td {
    font-weight: 400;
}

.admin0::after {
    content: "false";
}

.admin1::after {
    content: "true";
}

table {
    padding: 0px;
    margin: 10px;
}

th,
td {
    border: 1px solid black;
}

td p {
    margin: 0;
    margin-right: 5px;
}

h2.label {
    text-decoration: underline;
    margin: 10px;
    margin-top: 15px;
}

.long {
    max-width: 15em;
    min-width: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.editor {
    border: 0;
}

input {
    display: inline-block;
    margin: 0;
    margin-right: 5px;
}

.off {
    display: none;
}
