body * {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

body,
html {
    margin: 0;
    height: 100%;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    position: sticky;
}

.nav-bar .nav-home {
    float: left;
}

.nav-bar li {
    float: right;
}

.nav-bar li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: white;
}

.nav-bar li a:visited {
    color: white;
}

.nav-bar [aria-current="page"] {
    background-color: rgb(72, 245, 129);
}

.store-section > * {
    margin: 0px 20px 0px 20px;
}

.store-label {
    width: inherit;
}

.store-scroll-menu {
    overflow: auto;
    white-space: nowrap;
    height: 230px;
}

.store-container {
    display: inline-block;
    position: relative;
    width: max(12vw, 150px);
    height: 200px;
    margin: 0px 0.5vw 0px 0.5vw;
}

.store-container img {
    width: inherit;
    height: inherit;
    object-fit: scale-down;
}

.store-container .container-overlay {
    position: absolute;
    width: 75%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 20%;
}

.store-container .container-overlay p {
    color: white;
    padding: 13px 0px 13px 5px;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
}

.store-container .container-overlay-price {
    position: absolute;
    width: 20%;
    bottom: 0;
    left: 75%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 20%;
}

.store-container .container-overlay-price p {
    color: white;
    padding: 10px 5px 10px 0px;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 200;
}

.store-scroll-menu a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#logoutBtn:hover::after {
    content: " - Log Out";
}

a {
  color: #00ff38;
  text-shadow: 0px 1px black;
}
