body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body * {
    font-family: "Roboto", sans-serif;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    position: sticky;
}

.nav-bar .nav-home {
    float: left;
}

.nav-bar li {
    float: right;
}

.nav-bar li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: white;
}

.nav-bar li a:visited {
    color: white;
}

.nav-bar [aria-current="page"] {
    background-color: rgb(72, 245, 129);
}
#logoutBtn:hover::after {
    content: " - Log Out";
}
a {
    color: #00ff38;
    /* text-shadow: 0px 1px black; */
}
.checkOut {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
    padding: 10px;
    display: block;
    border: 0px solid;
    border-radius: 20px;
    color: white;
    background-color: #333;
    width: 25%;
    margin: auto;
    font-size: 24pt;
}

.checkOut::-webkit-scrollbar {
    display: none;
}

.user,
.total,
.totalItems,
.password {
    /* border: 2px solid #444; */
    text-align: center;
}
h2 {
    text-align: center;
}

form {
    display: flex;
}

input {
    border: 0px solid black;
    border-radius: 10px;
    padding: 10px;
    flex: 4;
}

button {
    border: 0px solid black;
    border-radius: 10px;
    background-color: white;
    margin-left: 5px;
    flex: 1;
}
