body * {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    position: sticky;
}

.nav-bar .nav-home {
    float: left;
}

.nav-bar li {
    float: right;
}

.nav-bar li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: white;
}

.nav-bar li a:visited {
    color: white;
}

.nav-bar [aria-current="page"] {
    background-color: rgb(72, 245, 129);
}

.store-brand > * {
    margin: 0px 15px 0px 15px;
}

.store-label {
    width: inherit;
}

.store-scroll-menu {
    overflow: auto;
    white-space: nowrap;
    margin: 0px 20px 0px 20px;
    height: 230px;
}

.store-container {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 200px;
}

.store-container:not(:first-child) {
    margin: 0px 5px 0px 5px;
}

.store-container img {
    width: inherit;
    height: inherit;
    object-fit: scale-down;
}

.store-container .container-overlay {
    position: absolute;
    width: inherit;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.store-container .container-overlay p {
    color: white;
    padding: 10px 0px 10px 0px;
    margin: 0;
    text-align: center;
}
